<div class="content">
  <a routerLink="" class="backlink muted"><i class="feather icon-chevron-left"></i>Home</a>
  <div class="filter">
    <a [routerLink]="['/decks']" [class.selected_filter]="displayPublic">Öffentliche Decks</a> |
    <a [routerLink]="['/decks', 'user']" [class.selected_filter]="!displayPublic" [class.disabled]="!user">Deine
      Decks</a>
  </div>
  <div class="deck_grid">
    <ng-container *ngIf="user">
      <a [routerLink]="['/decks', { outlets: { modal: ['new']}}]" class="grid-content"
        *ngIf="!displayPublic || (displayPublic && user.role == 'admin')">
        <i-feather name="plus-circle"></i-feather> Neues Deck anlegen
      </a>
    </ng-container>
    <app-list-item [deck]="deck" [displayBanner]="displayPublic" *ngFor="let deck of decks"></app-list-item>
  </div>
</div>