<div class="context-menu">
  <div class="dropdown">
      <button class="dropbtn">Hits: {{ syllablesService.totalHits }}, Misses: {{ syllablesService.totalMisses }}</button>
  </div>
  <div class="dropdown">
      <button (click)="reset()" class="dropbtn">Zurücksetzen</button>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Modus</button>
    <div class="dropdown-content">
      <a (click)="setMode('german', 'hiragana')">あ/a</a>
      <a (click)="setMode('hiragana', 'german')">a/あ</a>
      <a (click)="setMode('german', 'katakana')">ア/a</a>
      <a (click)="setMode('katakana', 'german')">a/ア</a>
      <a (click)="setMode('hiragana', 'katakana')">あ/ア</a>
      <a (click)="setMode('katakana', 'hiragana')">ア/あ</a>
    </div>
  </div>
</div>

<div class="quiz">
  <div class="content">
        <div class="card">
          {{ showCard[questionMode]}}
        </div>
        <div class="answers">
        <div class="answer" *ngFor="let answer of answers" (click)="answerSelect(this.showCard, answer)"
        [class.error]="displayError && answer.hiragana !== showCard.hiragana">
          {{ answer[answerMode] }}
        </div>
      </div>
    </div>
</div>