p {
  font-family: Lato;
}

.error {
  color: red !important;
}

.card {
  width: 100%;
  font-size: 200px;
  background-color: azure;
  text-align: center;
}

.answer {
  font-size: 40px;
  text-align: center;
  width: 90%;
  height: 50px;
  background-color: teal;
  margin: auto;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.answer:hover {
  background-color: rgb(0,100,100);
}

.score {
  color: grey;
  font-family: Arial Helvetica, sans-serif;
  text-align: center;
}

.modes {
  width: 100%;
  display: flex;
}

.mode {
  text-align: center;
  color: white;
  background-color: teal;
  width: 33%;
  margin: 10px;
  padding: 10px;
  transition: background-color 0.5s ease;
}

.mode:hover {
  background-color: rgb(0,90,90);
}

a {
  text-decoration: none;
  background-color: teal;
  color: white;
  padding: 5px;
   transition: background-color 0.5s ease;
   margin-left: 5px;
   margin-right: 5px;
}

a:hover {
  background-color: rgb(0,100,100);
}