<ng-container *ngIf="card else loading">
  <div class="action-shortcuts">
    <a (click)="select()">
      <i-feather name="check-circle" class="feather" [class.blue]="selectService.contains(card)"></i-feather>
    </a>
    <a [routerLink]="['', { outlets: { modal: ['cards', 'edit', card.uid] } }]" class="edit"><i
        class="feather icon-edit"></i></a>
    <a [routerLink]="['', { outlets: { modal: null } }]" class="edit"><i class="feather icon-x"></i></a>
  </div>
  <!-- <div class="metadata">{{ card.createdAt|date:'d.m.Y' }}</div> -->
  <div class="japanese">
    {{ card.japanese }}
  </div>
  <div class="section readings" *ngIf="card.hasReadings()">
    <span>
      Lesungen
    </span>
    <ul>
      <li *ngFor="let reading of card.japanese_readings">{{ reading }}</li>
    </ul>
    <ul>
      <li *ngFor="let reading of card.chinese_readings">{{ reading }}</li>
    </ul>
  </div>
  <div class="section german" *ngIf="card.german.length">
    <span>
      Bedeutungen
    </span>
    <ul>
      <li *ngFor="let ger of card.german">{{ ger }}</li>
    </ul>
  </div>
  <div class="section examples" *ngIf="card.examples && card.examples.length">
    <span>
      Beispiele
    </span>
    <table>
      <tr *ngFor="let example of card.examples">
        <td><ruby>
            {{ example.japanese }}
            <rt>{{ example.reading }}</rt>
          </ruby>
        </td>
        <td>{{ example.german }}</td>
      </tr>
    </table>
  </div>
  <div class="section konjugations" *ngIf="card.wordType === wordTypes.verb">
    <span>
      Flexionstabelle
    </span>
    <app-verb-table [card]="card"></app-verb-table>
  </div>
  <div class="section konjugations" *ngIf="card.wordType === wordTypes.adjective">
    <span>
      Flexionstabelle
    </span>
    <app-adjective-table [card]="card">
    </app-adjective-table>
  </div>
  <ng-container *ngIf="card.decks.length">
    <div class="section">
      <span>
        Enthalten in
      </span>
      <div class="decks">
        <ng-container *ngFor="let deck of card.decks">
          <ng-container *ngIf="deck.name">
            <a [routerLink]="['', { outlets: { primary: ['decks', deck.uid, 'list'], modal: null }}]" class="deck"><i
                class="feather icon-copy"></i>{{ deck.name }}</a>
          </ng-container>
          <ng-container *ngIf="!deck.name">
            <a [routerLink]="['', { outlets: { primary: ['decks', deck, 'list'], modal: null }}]" class="deck"><i
                class="feather icon-copy"></i>{{ deck }}</a>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="card.cardType == cardTypes.word">
    <ng-container [ngSwitch]="card.wordType">
      <div class="wordType noun" *ngSwitchCase="wordTypes.noun">
        Substantiv
      </div>
      <div class="wordType verb" *ngSwitchCase="wordTypes.verb">
        <ng-container [ngSwitch]="card.verbType">
          <ng-container *ngSwitchCase="verbTypes.ichidan">
            Ichidan Verb
          </ng-container>
          <ng-container *ngSwitchCase="verbTypes.godan">
            Godan Verb
          </ng-container>
          <ng-container *ngSwitchCase="verbTypes.suru">
            Suru Verb
          </ng-container>
          <ng-container *ngSwitchCase="verbTypes.irregular">
            Irregular Verb
          </ng-container>
          <ng-container *ngSwitchDefault>
            Verb
          </ng-container>
        </ng-container>
      </div>
      <div class="wordType adjective" *ngSwitchCase="wordTypes.adjective">
        <ng-container *ngIf="card.adjectiveType == adjectiveTypes.iAdjective else naAdj">
          い Adjektiv
        </ng-container>
        <ng-template #naAdj>
          な　Adjektiv
        </ng-template>
      </div>
      <div class="wordType adverb" *ngSwitchCase="wordTypes.adverb">
        Adverb
      </div>
      <div class="wordType pronoun" *ngSwitchCase="wordTypes.pronoun">
        Pronomen
      </div>
      <div class="wordType preposition" *ngSwitchCase="wordTypes.preposition">
        Präposition
      </div>
      <div class="wordType conjunction" *ngSwitchCase="wordTypes.conjunction">
        Konjunktion
      </div>
      <div class="wordType numeral" *ngSwitchCase="wordTypes.numeral">
        Numeral
      </div>
      <div class="wordType interjection" *ngSwitchCase="wordTypes.interjection">
        Interjektion
      </div>
      <div class="wordType kanji" *ngSwitchCase="wordTypes.kanji">
        Kanji
      </div>
    </ng-container>
  </ng-container>
</ng-container>
<ng-template #loading>
  <div class="loading">Loading card data...</div>
</ng-template>