@import "_variables";

:host {
  position: fixed;
  height: 60%;
  left: 0;
  right: 0;
  top: 20%;
  margin: auto;
  width: 720px;
  background-color: $showModalBackground;
  border-radius: 8px;
  padding: 8px;

  @include smaller-than(sm) {
    padding-top: 25px;
  }

  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.3);

  @media only screen and (max-width: 736px) {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    width: 100%;
    top: initial;
    bottom: 0;
    height: 80%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  span {
    font-weight: lighter;
    color: $lighterTextColor;
  }

  .japanese {
    text-align: left;

    @include bigger-than(sm) {
      text-align: center;
    }

    font-weight: 800;
    font-size: 50px;
  }

  table {
    text-align: left;

    tr:nth-child(even) {
      background-color: $oddTableColor;
    }

    td {
      padding: 10px;
      border: none;
    }
  }
}

.scroll-content {
  overflow: auto;
  overscroll-behavior: contain;
  height: 100%;
}

.action-shortcuts {
  transition: all 0.2s;

  .feather {
    height: 17px;
    width: 17px;

  }

  position: absolute;
  top: 0;
  right: 18px;

  a {
    vertical-align: top;
    display: inline-block;
    margin-right: 6px;
    text-decoration: none;
    color: white;
    background: $mainColor;
    padding: 5px 8px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 0.2s;
  }

  a:last-child {
    margin-right: 0;
  }

  a:hover {
    @media(hover: hover) {
      padding-top: 8px;
    }
  }

  .blue {
    color: $checkmark_checked;
  }
}

.deck {
  text-decoration: none;
  color: white;
  background-color: $mainColor;
  padding: 4px 6px;
  margin-right: 2px;
  border-radius: 4px;
}

.deck:last-child {
  margin-right: 0px;
}

ul {
  margin: 0;
}

.decks {
  margin-top: 5px;
}

.section {
  margin-bottom: 15px;
}

app-word-type {
  position: absolute;
  top: 0;
  left: 15px;
  padding: 6px 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: $wordTypeBackgroundColor;
}

app-kanji {
  max-width: 140px;
}