p {
  font-family: Lato;
}

.error {
  color: red !important;
}

.card {
  width: 100%;
  font-size: 20vw;
  background-color: azure;
  text-align: center;
}

.answer {
  font-size: 5vw;
  text-align: center;
  width: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: teal;
  margin: auto;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.answer:hover {
  //background-color: rgb(0,100,100);
}

.score {
  color: grey;
  font-family: Arial Helvetica, sans-serif;
  text-align: center;
}

.modes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.mode {
  text-align: center;
  color: white;
  background-color: teal;
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  padding: 10px;
  transition: background-color 0.5s ease;
  flex-grow: 1;
}

.mode:hover {
  background-color: rgb(0,90,90);
}

a {
  text-decoration: none;
  background-color: teal;
  color: white;
  padding: 5px;
   transition: background-color 0.5s ease;
   margin-left: 5px;
   margin-right: 5px;
}

a:hover {
  background-color: rgb(0,100,100);
}

.statistic {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.statistic > p {
  background-color: teal;
  color: white;
  text-align: center;
  width: 130px;
  margin: auto;
  margin-bottom: 5px;
  padding: 10px;
  flex-grow: 0;
}

p {
  text-align: center;
}

.hits {
  color: rgb(0, 200, 100);
}

.misses {
  color: rgb(200, 100, 100);
}