body {
  background-color: rgb(0, 83, 83);
  color: rgb(200, 230, 230);
}

.about {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;

}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2{
  text-align: center;
}

h4 {
  margin-bottom: 5px;
}

p {
  margin-top: 5px;
}