<div class="about">
  <h1>Vokabeldojo</h1>
  <p>Für den Japanischkurs in der <a href="www.japanischlernen.at">Nihongo Gakuen</a> als Lernhilfe erdacht und kreiert von <a href="mailto:schmidt91robin@icloud.com">Robin Schmidt</a></p>
  <h2>Index</h2>
  <ul>
    <li>Funktionen</li>
    <li>Silben
      <ul>
        <li>Quizmodus</li>
        <li>Lernmodus</li>
      </ul>
    </li>
    <li>Vokabeln
      <ul>
        <li>Hiragana</li>
        <li>Katakana</li>
        <li>Kanji</li>
      </ul>
    </li>
    <li>Fehler melden und weiterentwickeln</li>
  </ul>
  <h2>Funktionen</h2>
  <h3>Silben</h3>
  <h4>Quizmodus</h4>
  <p>
    Startseite und für Anfänger wohl die wichtigste: Hiragana/Katakana Zeichen lernen! Oben wird die Silbe angezeigt, darunter als Ratespiel die Antwortmöglichkeiten. Mit hiragana/deutsch deutsch/hiragana hiragana/katakana kann die Kombination gewechselt werden.
    <br>Hits und Misses zeigen den bisherigen Fortschritt an. Antippen zeigt eine genauere Statistik (tba) an mit welchen Zeichen man noch schwierigkeiten hat. Erneut antippen verbirgt die Statistik.
  </p>
  <h4>Lernmodus</h4>
  <p>Im Lernmodus können ohne Stress die Zeichen wiederholt werden. Antippen zeigt das nächste Zeichen.<br>"Immer zeigen" lässt die Antwort zeitgleich mit der Silbe erscheinen, "Beim Klick" erst beim erneuten Antippen. "Automatisch" lässt die Antwort nach zwei Sekunden erscheinen. (tba)</p>
  <h3>Vokabel</h3>
  <h4>Hiragana</h4>
  <p>So wie beim Silbenquiz lassen sich hier Wörter üben. Hiragana/Deutsch Deutsch/Hiragana wechselt Frage und Antwortsprache. Hits und Misses zeigen den Fortschritt, antippen zeigt bzw. verbirgt eine genauere Statistik der Treffer.</p>
  <h4>Katakana</h4>
  <p>Vokabelquiz für japanische Fremdwörter.</p>
  <h4>Kanji (tba)</h4>
  <p>Vokabelquiz für Kanji.</p>
  <h2>Fehler melden und weiterentwickeln</h2>
  <p>Das Projekt findest du auf <a href="https://github.com/SrgSteak/vokabel-dojo">Github</a> und du kannst mir gerne eine <a href="mailto:schmidt91robin@icloud.com">E-Mail senden</a>.</p>
</div>
