.content {

  height: 100%;
  width: 100%;
  display: table;
}

.line {
  width: 80%;
}

.card {
  width: 100%;
  font-size: 200px;
  text-align: center;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.modes {
  width: 100%;
  display: flex;
  font-family: arial;
}

.cardbox {
  font-size: 150px;
  width: 100%;
  bottom: 0px;
  margin: 0;
  display: flex;
}

.cardbox > .left {
  width: 50%;
  height: 250px;
  text-align: center;
}

.cardbox > .right {
  width: 50%;
  height: 250px;
  text-align: center;
}
