<div *ngIf="displayMode=='always' || displayMode=='automatic'" class="card" (click)="displayMode == 'click' && clicked == false ? clicked = true : showNext()">
  {{ hiragana[show][displayLeft]}}
  <span>{{ hiragana[show][displayRight] }}</span>
</div>
<div *ngIf="displayMode=='click'" class="cardbox" (click)="displayMode == 'click' && clicked == false ? clicked = true : showNext()">
  <div class="left">{{ hiragana[show][displayLeft]}}</div>
  <div class="right" *ngIf="clicked">{{ hiragana[show][displayRight] }}</div>
</div>

<div class="modes">
  <div class="mode" [class.selected]="displayMode=='always'" (click)="setMode('always')">Immer zeigen</div>
  <div class="mode" [class.selected]="displayMode=='click'" (click)="setMode('click'); clicked = false">Beim Klick</div>
  <div class="mode" [class.selected]="displayMode=='automatic'" (click)="setMode('automatic')">Automatisch</div>
</div>
<div class="modes">
  <div class="mode" (click)="displayLeft = 'hiragana'; displayRight = 'german'">hiragana/deutsch</div>
  <div class="mode" (click)="displayLeft = 'katakana'; displayRight = 'german'">katakana/deutsch</div>
  <div class="mode" (click)="displayLeft = 'hiragana'; displayRight = 'katakana'">hiragana/katakana</div>
</div>