<div class="content">
  <div class="edit" *ngIf="deck">

    <form [formGroup]="deckForm" (ngSubmit)="onSubmit()">
      <label for="name">
        Name des Decks
      </label>
      <input type="text" id="name" formControlName="name">
      <span class="error" *ngIf="!deckForm.untouched && deckForm.get('name').invalid">Du musst einen Namen
        eingeben</span>
      <label for="description">
        Beschreibung
      </label>
      <input type="text" id="description" formControlName="description">
      <button type="submit" [class.disabled]="!deckForm.valid && !deckForm.untouched">Speichern</button>
      <a (click)="onDelete()" class="muted" *ngIf="deck.uid">Löschen</a>
      <ng-container *ngIf="user.role == 'admin'">
        <angular2csv [data]="data" filename="vokabeldojo_example.csv" [options]="options"></angular2csv>
        <input type="file" accept=".csv" (change)="importCSVCards($event.target)" />
      </ng-container>
    </form>
  </div>
</div>