<div class="sans-serif edit" *ngIf="user">
  <ng-container *ngIf="!uid else editDeckHeader">
    <div class="action-shortcuts negative">
      <a [class.disabled]="!deckForm.valid" (click)="onSubmit()" class="save" title="Speichern">
        <i-feather name="save"></i-feather>
      </a>
      <a [routerLink]="['/decks', { outlets: { modal: null } }]">
        <i-feather name="x"></i-feather>
      </a>
    </div>
    <div class="header">
      <h1 class="sans-serif">Neues Deck anlegen</h1>
    </div>
  </ng-container>
  <ng-template #editDeckHeader>
    <div class="action-shortcuts negative">
      <a (click)="onDelete()" class="danger">
        <i-feather name="trash"></i-feather>
      </a>
      <a [class.disabled]="!deckForm.valid" (click)="onSubmit()" class="save" title="Speichern">
        <i-feather name="save"></i-feather>
      </a>
      <a [routerLink]="['/decks', { outlets: { modal: null } }]">
        <i-feather name="x"></i-feather>
      </a>
    </div>
    <div class="header">
      <h1 class="sans-serif">Deck bearbeiten</h1>
    </div>
  </ng-template>
  <form [formGroup]="deckForm" (ngSubmit)="onSubmit()">
    <div class="formgroup">
      <label for="name">
        Name des Decks
      </label>
      <input type="text" id="name" formControlName="name">
      <span class="error" *ngIf="!deckForm.untouched && deckForm.get('name').invalid">Du musst einen Namen
        eingeben</span>
    </div>
    <div class="formgroup">
      <label for="description">
        Beschreibung
      </label>
      <input type="text" id="description" formControlName="description">
    </div>
  </form>
</div>