<div class="sans-serif edit">
  <ng-container *ngIf="!deck.uid else editDeckHeader">
    <div class="action-shortcuts negative">
      <a [class.disabled]="!deckForm.valid" (click)="onSubmit()" class="save"><i class="feather icon-save"></i></a>
      <a [routerLink]="['', { outlets: { modal: null } }]"><i class="feather icon-x"></i></a>
    </div>
    <div class="header">
      <h1 class="sans-serif">Neues Deck anlegen</h1>
    </div>
  </ng-container>
  <ng-template #editDeckHeader>
    <div class="action-shortcuts negative">
      <a (click)="onDelete()" class="danger"><i class="feather icon-trash"></i></a>
      <a [class.disabled]="!deckForm.valid" (click)="onSubmit()" class="save"><i class="feather icon-save"></i></a>
      <a [routerLink]="['', { outlets: { modal: null } }]"><i class="feather icon-x"></i></a>
    </div>
    <div class="header">
      <h1 class="sans-serif">Deck bearbeiten</h1>
    </div>
  </ng-template>
  <form *ngIf="deck" [formGroup]="deckForm" (ngSubmit)="onSubmit()">
    <div class="formgroup">
      <label for="name">
        Name des Decks
      </label>
      <input type="text" id="name" formControlName="name">
      <span class="error" *ngIf="!deckForm.untouched && deckForm.get('name').invalid">Du musst einen Namen
        eingeben</span>
    </div>
    <div class="formgroup">
      <label for="description">
        Beschreibung
      </label>
      <input type="text" id="description" formControlName="description">
    </div>
    <!-- <button type="submit" [class.disabled]="!deckForm.valid && !deckForm.untouched">Speichern</button> -->
    <!-- <a (click)="onDelete()" class="muted" *ngIf="deck.uid">Löschen</a> -->
    <!-- <a (click)="onDeleteWithCards()" class="muted" *ngIf="deck.uid">Deck und Karten löschen</a> -->
    <ng-container *ngIf="user.role == 'admin'">
      <angular2csv [data]="data" filename="vokabeldojo_example.csv" [options]="options"></angular2csv>
      <input type="file" accept=".csv" (change)="importCSVCards($event.target)" />
    </ng-container>
  </form>
</div>