<div class="content">
  <div class="edit" *ngIf="deck">

    <form [formGroup]="deckForm" (ngSubmit)="onSubmit()">
      <label for="name">
        Name des Decks
      </label>
      <input type="text" id="name" formControlName="name">
      <label for="description">
        Beschreibung
      </label>
      <input type="text" id="description" formControlName="description">
      <button type="submit">Speichern</button>
      <a (click)="onDelete()" class="muted" *ngIf="deck.uid">Löschen</a>
    </form>
  </div>
</div>