.show {
  padding-left: 40px;
  padding-right: 40px;
}

h1 {
  margin-block-start: 0;
}

tr:nth-child(odd) {
  background-color: rgba(100, 100, 100, 0.1);
}

tr:hover {
  @media(hover: hover) {
    background-color: rgba(100, 100, 100, 0.3);
  }
}

.detail {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.detail-content .line {
  min-width: 170px;
  @media screen and (min-width: 439px) {
    min-width: 235px;
  }
  @media screen and (min-width: 600px) {
    min-width: 280px;
  }
  @media screen and (min-width: 767px) {
    min-width: 500px;
  }
  @media screen and (min-width: 767px) {
    min-width: 500px;
  }
  @media screen and (min-width: 1000px) {
    min-width: 750px;
  }
  @media screen and (min-width: 1300px) {
    min-width: 1000px;
  }
  @media screen and (min-width: 1700px) {
    min-width: 1250px;
  }
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}
