:host {
    aspect-ratio: 1/1;
    width: 100%;
    display: block;
    .grid-container {
      display: grid;
      position: relative;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 0px 0px;
      grid-gap: 1px;
      background-color: lightgray;
      padding: 0px;
      height: 100%;
      width: 100%;
      border: 1px solid lightgray;
      div {
        background-color: white;
        text-align: center;
        padding: 0;
      }
      i-feather {
        position: absolute;
        top: 0;
        right: 0;
      }
      &.invisible {
        background-color: rgba(0, 0, 0, 0);
        border-color: rgba(0, 0, 0, 0);
      }
    }
  }
  :host ::ng-deep .kanjisvg{
    svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    text  {
      opacity: 1;
      transition: opacity 0.5s;
    }
    path {
      stroke-dasharray: 1;
      stroke-dashoffset: 1;
    }

    .visible {
      animation: dash 0.6s ease-out forwards;
    }

    .hidden {
      opacity: 0;
    }

    @keyframes dash {
      from {
        stroke-dashoffset: 1;
      }
      to {
        stroke-dashoffset: 0;
      }
    }
  }
