<button (mousedown)="toggle()" [class.open]="show" [class.closed-menu]="!show" class="no-print menu-button"
  title="Hauptmenü">♨︎</button>
<div *ngIf="show" class="menu" #menu (click)="toggle()">
  <div class="links">
    <ng-container *ngIf="auth.user | async as user else login">
      <a routerLinkActive="active" routerLink="/user" [routerLinkActiveOptions]="{exact: true}"><i
          class="feather icon-user"></i>{{ user.displayName }}</a>
      <ng-container *ngIf=" auth.user | async as user">
        <a routerLinkActive="active" routerLink="/user/decks" [routerLinkActiveOptions]="{exact: true}">Meine Decks</a>
      </ng-container>
    </ng-container>
    <ng-template #login>
      <a routerLinkActive="active" routerLink="/user" [routerLinkActiveOptions]="{exact: true}">Loginbereich</a>
    </ng-template>
    <span class="label"></span>
    <a routerLinkActive="active" routerLink="/home" (click)="toggle()">Home</a>
    <a routerLinkActive="active" [routerLink]="[ {outlets: { modal: 'dictionary' } } ]">Wörterbuch</a>
    <span class=" label">Silben</span>
    <a routerLinkActive="active" routerLink="/quiz" (click)="toggle()">Quizmodus</a>
    <a routerLinkActive="active" routerLink="/learn" (click)="toggle()">Lernmodus</a>
    <a routerLinkActive="active" routerLink="/syllables/overview" (click)="toggle()">Tabelle</a>
    <span class="label">Vokabel</span>
    <a routerLinkActive="active" routerLink="/decks">Alle Decks</a>

    <span class="label">Allgemein</span>
    <a routerLinkActive="active" routerLink="/about">Handbuch</a>
    <a href="https://www.japanischlernen.at/login/">Nihongo Gakuen</a>

    <span class="label">Version</span>
    <p>200426-0</p>
  </div>
</div>