<button (mousedown)="toggle()" [class.open]="show" [class.closed-menu]="!show" class="no-print menu-button"
  title="Hauptmenü">♨︎</button>
<div *ngIf="show" class="menu" #menu (click)="toggle()">
  <div class="links">
    <ng-container *ngIf="auth.user | async as user else login">
      <a routerLinkActive="active" routerLink="/user" [routerLinkActiveOptions]="{exact: true}"><i
          class="feather icon-user"></i>{{ user.displayName }}</a>
      <ng-container *ngIf=" auth.user | async as user">
        <span class="label">Mein Bereich</span>
        <a routerLinkActive="active" routerLink="/decks/user" [routerLinkActiveOptions]="{exact: true}">Meine Decks</a>
        <a routerLinkActive="active" routerLink="/cards/user" [routerLinkActiveOptions]="{exact: true}">Meine Karten</a>
      </ng-container>
    </ng-container>
    <ng-template #login>
      <a routerLinkActive="active" routerLink="/user" [routerLinkActiveOptions]="{exact: true}">Loginbereich</a>
    </ng-template>
    <span class="label"></span>
    <a routerLinkActive="active" routerLink="/home" (click)="toggle()">
      <i-feather name="home" class="feather"></i-feather> Home
    </a>
    <a routerLinkActive="active" [routerLink]="[ {outlets: { modal: 'dictionary' } } ]">
      <i-feather name="feather" class="feather"></i-feather> Wörterbuch
    </a>
    <a routerLinkActive="active" [routerLink]="[ { outlets: { modal: 'selection'}}]">
      <i-feather name="check-circle" class="feather"></i-feather> Auswahl
    </a>
    <span class="label">Silben</span>
    <a routerLinkActive="active" routerLink="/syllables" [routerLinkActiveOptions]="{exact:
      true}" (click)="toggle()">Tabelle</a>
    <a routerLinkActive="active" routerLink="syllables/learn" (click)="toggle()">Lernmodus</a>
    <a routerLinkActive="active" routerLink="syllables/quiz" (click)="toggle()">Quizmodus</a>
    <span class="label">Vokabel</span>
    <a routerLinkActive="active" routerLink="/decks">Alle Decks</a>

    <span class="label">Allgemein</span>
    <a routerLinkActive="active" routerLink="/about">
      <i-feather name="help-circle" class="feather"></i-feather> Handbuch
    </a>
    <a href="https://ko-fi.com/teamroricon" target="_blank">
      <i-feather name="coffee" class="feather"></i-feather> Jetzt Supporten
    </a>
    <a href="https://www.japanischlernen.at">
      <i-feather name="external-link" class="feather"></i-feather> Nihongo Gakuen
    </a>

    <span class="label">Version</span>
    <p>210716-0</p>
  </div>
</div>