.menu {
  padding-top: 20px;
  display: block;
  height: 100%;
  width: 30%;
  color: white;
  font-family: arial;
  background-color: rgb(0, 50, 50);
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  text-align: center;
}

a {
  color: white;
  padding: 8px;
  text-decoration: none;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

.active {
  background-color: rgb(0,40,40);
}

.label {
  color: rgb(0,100,100);
  font-size: 12px;
  display: block;
  padding-top: 20px;
}

/* When you mouse over the navigation links, change their color */
a:hover, .overlay a:focus {
  background-color: rgb(0, 60,60);
}

a[disabled] {
    pointer-events: none;
    text-decoration-line: line-through;
    -webkit-text-decoration-line: line-through;
}

button {
  margin-left: 10px;
  margin-top: 10px;
  position: fixed;
  background-color: rgb(0, 40, 40); /* Green */
  border-radius: 10%;
  border: none;
  color: white;
  padding: 6px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}