<button (mousedown)="toggle()">♨︎</button>
<div *ngIf="show" class="menu" #menu>
  <div class="links">
    <span class="label">Silben</span>
    <a routerLinkActive="active" routerLink="/quiz" (click)="toggle()">Quizmodus</a>
    <a routerLinkActive="active" routerLink="/learn" (click)="toggle()">Lernmodus</a>
    <span class="label">Vokabel</span>
    <a routerLinkActive="active" routerLink="/word-quiz">Hiragana</a>
    <a href="" disabled>Katakana</a>
    <a href="" disabled>Kanji</a>
    <span class="label">Allgemein</span>
    <a routerLinkActive="active" routerLink="/about">About</a>
    <a href="japanischlernen.at/login/">Nihongo Gakuen</a>
  </div>
</div>