<div class="content">
  <a routerLink="" class="backlink muted">
    <i-feather name="chevron-left"></i-feather>Home
  </a>
  <ng-container *ngIf="cards.length else noCards">
    <app-word-list [cards]="cards" *ngIf="cards.length"></app-word-list>
  </ng-container>
  <ng-template #noCards>
    Du hast noch keine Karten. Du kannst neue Karten in <a [routerLink]="['/', 'decks', 'user']">deinen Decks
      anlegen</a> oder bestehende aus öffentlichen Decks oder
    dem Wörterbuch
    kopieren.
  </ng-template>
  <button class="button danger" (click)="deleteAll()">
    <i-feather name="trash" class="feather"></i-feather> Alle meine Karten löschen
  </button>
</div>