@import "_variables";

a {
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: $secondaryBackgroundColor;
    color: $secondaryTextColor;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-family: arial;
    text-decoration: none;
}