.show {
  padding-left: 40px;
  padding-right: 40px;
}

h1 {
  margin-block-start: 0;
}

tr:nth-child(odd) {
  background-color: rgba(100, 100, 100, 0.1);
}

tr:hover {
  @media(hover: hover) {
    background-color: rgba(100, 100, 100, 0.3);
  }
}