<button class="submenu no-print" [class.open]="showSubmenu" [class.closed-menu]="!showSubmenu"
  (click)="showSubmenu ? showSubmenu = false : showSubmenu = true" title="Einstellungen Lernmodus">✍︎</button>
<div class="menu" *ngIf="showSubmenu">
  <ng-container *ngIf="deck">
    <span class="label">{{ deck.name }}</span>
    <p>{{ deck.description }}</p>
  </ng-container>
  <span class="label">Lernmodus</span>
  <a routerLinkActive="active" routerLink="/decks/{{deck.uid}}/quiz">Vokabelquiz</a>
  <!-- <a routerLinkActive="active" routerLink="/decks/{{deck.uid}}/learn">Lernen</a> -->
  <a routerLinkActive="active" routerLink="/decks/{{deck.uid}}/grid">Buchstabieren</a>
  <a routerLinkActive="active" routerLink="/decks/{{deck.uid}}/learn">Wiederholen</a>
  <a routerLinkActive="active" routerLink="/decks/{{deck.uid}}/list">Liste</a>
  <span class="label">Deck</span>
  <a routerLinkActive="active" routerLink="/decks/{{deck.uid}}/table">Übersicht</a>
  <ng-container *ngIf="auth.user | async as user">
    <ng-container *ngIf="user.role == 'admin'">

      <a routerLinkActive=" active" routerLink="/decks/edit/{{deck.uid}}">Bearbeiten</a>
      <a routerLinkActive="active" routerLink="/decks/new">Deck anlegen</a>
      <span class="label">Karten</span>
      <a (click)="modal.toggle(); showSubmenu = false" *ngIf="deck">Neue Karte</a>
    </ng-container>
  </ng-container>
</div>
<ng-container *ngIf="auth.user | async as user">
  <app-modal #modal *ngIf="deck && mode == 'table' && user.role == 'admin'">
    <div class="main-content">
      <app-new-card [deck]="deck" (newCard)="addCard($event)"></app-new-card>
    </div>
    <div class="teaser">
      Neue Karte
    </div>
  </app-modal>
</ng-container>
<div class="content">
  <ng-container *ngIf="cards.length > 0">
    <app-word-list [cards]="cards" [allowEdit]="allowEdit" *ngIf="mode === 'list'"></app-word-list>
    <app-word-quiz [deck]="cards" *ngIf="mode === 'quiz'"></app-word-quiz>
    <app-word-grid [deck]="cards" *ngIf="mode === 'grid'"></app-word-grid>
    <app-word-learn [_cards]="cards" *ngIf="mode === 'learn'"></app-word-learn>
  </ng-container>
  <ng-container *ngIf="mode == 'table' && deck">
    <h1>{{ deck.name }}</h1>
    <p *ngIf="deck.description">{{ deck.description }}
    </p>
    <p>
      <button class="button no-print" (click)="addToCollection()" *ngIf="auth.user | async">+ Zu meinen Decks
        hinzufügen</button>
    </p>
    <table *ngIf="mode !== 'list'">
      <tr>
        <th>Deutsch</th>
        <th>Romaji</th>
        <th>Hiragana</th>
        <th>Katakana</th>
        <th>Kanji</th>
      </tr>
      <tr *ngFor="let card of cards">
        <td>{{ card.german }}</td>
        <td>{{ card.romaji }}</td>
        <td>{{ card.hiragana ? card.hiragana : '-' }}</td>
        <td>{{ card.katakana ? card.katakana : '-' }}</td>
        <td>{{ card.kanji ? card.kanji : '-' }}</td>
      </tr>
    </table>
    <button class="button no-print" (click)="addToCollection()" *ngIf="auth.user | async">+ Zu meinen Decks
      hinzufügen</button>
  </ng-container>
</div>