<button class="submenu" [class.open]="showSubmenu" (click)="showSubmenu ? showSubmenu = false : showSubmenu = true">✍︎</button>
<div class="menu" *ngIf="showSubmenu">
  <span class="label">Modus</span>
  <div class="dropdown-content">
      <a [class.selected]="display == 'hiragana'" (click)="display = 'hiragana'">Hiragana</a>
      <a [class.selected]="display == 'katakana'" (click)="display = 'katakana'">Katakana</a>
  </div>
</div>

<div class="content">
  <div class="overview">
    <table>
      <tr class="label">
        <th class="blank"></th>
        <th>a</th>
        <th>i</th>
        <th>u</th>
        <th>e</th>
        <th>o</th>
      </tr>
      <tr *ngFor="let row of syllablesService.syllables | keyvalue">
        <td class="label" *ngIf="row.key !== 'a'">{{ row.key }}</td>
        <td class="label" *ngIf="row.key == 'a'">Vokale</td>
        <ng-container *ngIf="row.key !== 'w' && row.key !== 'y'">
          <td *ngFor="let syl of row.value">{{ syl[display] }}</td>
        </ng-container>
        <ng-container *ngIf="row.key === 'w'">
          <td> {{ row.value[0][display] }}</td>
          <td></td>
          <td></td>
          <td></td>
          <td> {{ row.value[1][display] }}</td>
        </ng-container>
        <ng-container *ngIf="row.key === 'y'">
            <td> {{ row.value[0][display] }}</td>
            <td></td>
            <td> {{ row.value[1][display] }}</td>
            <td></td>
            <td> {{ row.value[2][display] }}</td>
          </ng-container>
      </tr>
    </table>
  </div>
</div>
<!-- <div class="slideout">
  <div class="tab">asdfasdf</div>
  <div class="slideout_inner">
    <p>Text</p>
    <p>Text</p>
    <p>Text</p>
  </div>
</div> -->