.content {
  // height: auto;
  height: 100%;
  width: 100%;
  display: table;
}

.overview {
  padding: 40px;
  padding-bottom: 20px;
  padding-top: 20px;
  @media screen and (max-width: 799px) {
    font-size: 3.8vw;
  }
  @media screen and (min-width: 800px) {
    font-size: 25px;
  }
}

.slideout {
  position: fixed;
  top: 40px;
  left: 0;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.slideout_inner {
  position: fixed;
  background-color: orange;
  top: 40px;
  left: -250px;
  min-width: 200px;
  min-height: 100px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.slideout:hover {
  left: 250px;
}
.slideout:hover .slideout_inner {
  left: 0;
}
.tab {
  padding:12px;
  background-color: orange;
}

h2 {
  margin-bottom: 0;
}

p {
  margin-top: 0;
}