<div class="selectbox">
  <div class="action-shortcuts">
    <a (click)="clear()" style="cursor: pointer;">
      <i-feather name="minus-circle" class="feather"></i-feather>
    </a>
    <a [routerLink]="['', { outlets: { modal: null } }]" class="edit">
      <i-feather name="x" class="feather"></i-feather>
    </a>
  </div>
  <div class="header">
    <h1 class="sans-serif">
      Deine Auswahl
    </h1>
  </div>
  <ng-container *ngIf="selectService.loading else content">
    <div class="loading">
      <div class="loader muted">
        <i-feather name="loader"></i-feather> Lade Auswahl…
      </div>
    </div>
  </ng-container>
  <ng-template #content>
    <ng-container *ngIf="selectService.cards.length else howTo">
      <a class="button" [routerLink]="['', { outlets: { primary: ['selection', 'quiz'], modal: null }}]"
        [class.disabled]="selectService.cards.length < 5">Vokabelquiz</a>
      <a class="button" [routerLink]="['', { outlets: { primary: ['selection', 'grid'], modal: null }}]"
        [class.disabled]="selectService.cards.length < 5">Buchstabieren</a>
      <a class="button" [routerLink]="['', { outlets: { primary: ['selection', 'learn'], modal: null }}]"
        [class.disabled]="selectService.cards.length < 5">Wiederholen</a>
      <span *ngIf="selectService.cards.length < 5">Du brauchst mindestens 5 Karten für diese Modi.</span>
      <app-word-list [cards]="selectService.cards"></app-word-list>
      <ng-container *ngIf="decks && decks.length else noDecks">
        <h2>Hinzufügen zu</h2>
        <div class="user-decks">
          <button class="button" *ngFor="let deck of decks" (click)="addToDeck(deck)">{{ deck.name }}</button>
        </div>
      </ng-container>
      <ng-template #noDecks>
        <ng-container *ngIf="user">
          Du hast noch keine Decks. Du kannst <a [routerLink]="['/decks', { outlets: { modal: ['new']}}]">hier welche
            anlegen</a> und
          anschließend
          deine ausgewählten Karten
          hinzufügen.
        </ng-container>
        <ng-container *ngIf="!user">
          Mit <a [routerLink]="['', { outlets: { primary: ['user'], modal: null}}]">einem Account</a> kannst du deine
          Auswahl zu
          eigenen Decks hinzufügen.
        </ng-container>
      </ng-template>
    </ng-container>
    <ng-template #howTo>
      <div class="placeholder">
        Du hast momentan noch keine Lernkarten ausgewählt. Du kannst Lernkarten im Wörterbuch oder in Decks mit
        <i-feather name="check-circle" class="feather"></i-feather> selektieren.
      </div>
    </ng-template>
  </ng-template>
</div>