<button class="submenu2 no-print" [class.open]="showSubmenu" [class.closed-menu]="!showSubmenu"
  (click)="showSubmenu ? showSubmenu = false : showSubmenu = true" title="Einstellungen Lernmodus">⋮</button>
<div class="menu" *ngIf="showSubmenu">
  <app-font-switcher></app-font-switcher>
</div>


<div class="word-grid {{ fontSwitcherService.currentStyle }}">
  <div class="word" [class.success]="buildWordString == currentWord.answer" (click)="skipWord()">
    <span class="question">
      {{ currentWord.question }}
    </span>
    <span class="hint muted">
      {{currentWord.hints.join() }}
    </span>
  </div>
  <div class="answer"></div>
  <div class="grid">
    <div class="gridpart" *ngFor="let char of this.currentGrid; let i = index" (click)="selectedChar(i, $event.target)">
      {{ char }}
    </div>
  </div>
</div>