.word-grid {
  padding: 40px;
}

.word {
  text-align: center;
  font-size: 10vw;
}

.success {
  color: rgb(0, 200, 100);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // justify-content: space-between;
  width: 100%;
  height: 100%;
}

.gridpart {
  padding: 10px 15px 10px 15px;
  margin: 1px;
  background-color: teal;
  // top: 0px;
  // left: 0px;
  // transform: translate(0,0);
  transition: all 1s ease 0s;
}

.answer {
  width: 100%;
  height: 50px;
}