<div class="word-grid {{ fontSwitcherService.currentStyle }}">
  <div class="word" [class.success]="buildWordString == currentWord.answer" (click)="skipWord()">
    <span class="question">
      {{ currentWord.question }}
    </span>
    <span class="hint muted">
      {{currentWord.hints.join(', ') }}
    </span>
  </div>
  <div class="answer"></div>
  <div class="grid">
    <div class="gridpart" *ngFor="let char of this.currentGrid; let i = index" (click)="selectedChar(i, $event.target)">
      {{ char }}
    </div>
  </div>
</div>