<app-modal #modal>
  <div class="main-content">
    <div class="detail">
      <div class="detail-content">

        <hr class="line">
        <ul>
          <li *ngFor="let example of currentWord.examples">{{ example.german }}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="teaser">
    {{ show + 1 }} / {{ deck.length }}
  </div>
</app-modal>


<div class="word-grid">
  <div class="word" [class.success]="buildWordString == currentWord[mode]" (click)="skipWord()">
    {{ currentWord.japanese_readings.join() }} ({{ currentWord.chinese_readings.join() }})
  </div>
  <div class="answer"></div>
  <div class="grid">
    <div class="gridpart" *ngFor="let char of this.currentGrid; let i = index" (click)="selectedChar(i, $event.target)">
      {{ char }}
    </div>
  </div>
</div>