<div class="content">
  <div class="welcome">
    <div [ngSwitch]="holiday" style="text-align: center;">
      <p *ngSwitchCase="'valentin'">💘 Liebe liegt in der Luft 💘</p>
      <p *ngSwitchCase="'staatsfeiertag'">🇦🇹 Schönen Staatsfeiertag 🇦🇹</p>
      <p *ngSwitchCase="'pirateDay'">🏴‍☠️ Arr, es ist Piratentag! 🏴‍☠️</p>
      <p *ngSwitchCase="'spooktober'">🎃 It's the spooky season 🎃</p>
      <p *ngSwitchCase="'xmas'">🎄 Frohes Winterhauchfest 🎄</p>
      <p *ngSwitchCase="'newYear'">🎆 Frohes neues Jahr! 🎆</p>
    </div>
    <ng-container *ngIf="user else guest">
      <ng-container *ngIf="user.displayName else nameless">
        <p>Willkommen zurück, {{ user.displayName }}. Was möchtest du heute trainieren?</p>
      </ng-container>
      <ng-template #nameless>
        <p>Willkommen zurück. Was möchtest du heute trainieren?</p>
      </ng-template>
    </ng-container>
    <ng-template #guest>
      <p>Was möchtest du heute trainieren?</p>
    </ng-template>
    <div class="d-flex j-content-center f-wrap">
      <a class="grid-content" routerLink="/user">
        <p>
          <i-feather name="user" class="feather"></i-feather>
        </p>
        <span class="choice">Loginbereich</span>
      </a>
      <a routerLink="/decks" class="grid-content">
        <p>
          <i-feather name="copy" class="feather"></i-feather>
        </p>
        <span class="choice">Decks zum Kurs</span>
      </a>
      <a [routerLink]="['', {outlets: { modal: 'dictionary' } } ]" class="grid-content">
        <p>
          <i-feather name="feather" class="feather"></i-feather>
        </p>
        <span class="choice">Wörterbuch</span>
      </a>
      <a routerLink="/syllables" class="grid-content">
        <p>
          <i-feather name="grid" class="feather"></i-feather>
        </p>
        <span class="choice">Silbentabelle</span>
      </a>
      <!-- <a routerLink="/grammar" class="grid-content">
        <p>
          <i-feather name="grid" class="feather"></i-feather>
        </p>
        <span class="choice">Grammatik</span>
      </a> -->
      <a routerLink="/jouyou-kanji" class="grid-content">
        <p>
          <i-feather name="book" class="feather"></i-feather>
        </p>
        <span class="choice">Jōyō Kanji</span>
      </a>
      <a routerLink="/about" class="grid-content">
        <p>
          <i-feather name="help-circle" class="feather"></i-feather>
        </p>
        <span class="choice">Handbuch</span>
      </a>
    </div>
    <div class="slot" *ngIf="publicDecks.length" @appear>
      <h1>
        Neues im Dojo
      </h1>
      <div class="d-flex ox-auto s-snap-type-xm">
        <app-list-item [deck]="deck" [displayBanner]="true" *ngFor="let deck of publicDecks"></app-list-item>
        <a [routerLink]="['/', 'decks']" class="deck-list-item flex-shrink-0 s-snap-align-c">
          <div class="deck_name">
            Zu den öffentlichen Decks
          </div>
          <div class="deck_created">
            Alle anzeigen <i-feather name="chevron-right"></i-feather>
          </div>

        </a>
      </div>
    </div>
    <div class="slot" *ngIf="userDecks.length" @appear>
      <h1>
        Deine neuesten Decks
      </h1>
      <div class="d-flex ox-auto s-snap-type-xm">
        <app-list-item [deck]="deck" *ngFor="let deck of userDecks"></app-list-item>
        <a [routerLink]="['/', 'decks', 'user']" class="deck-list-item flex-shrink-0 s-snap-align-c">
          <div class="deck_name">
            Zu meinen Decks
          </div>
          <div class="deck_created">
            Alle anzeigen <i-feather name="chevron-right"></i-feather>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<app-menu>
</app-menu>