<div class="content">
  <div class="welcome">

    <p>Was möchtest du heute trainieren?</p>
    <div class="grid">
      <div class="row">
        <div class="col">
          <a routerLink="/quiz" class="grid-content">
            <p>あ</p>
            <span class="choice">Hiragana Silben</span>
          </a>
          <a routerLink="/quiz" class="grid-content">
            <p>ア</p>
            <span class="choice">Katakana Silben</span>
          </a>
        </div>
        <div class="col">
          <a routerLink="/word-quiz/hiragana" class="grid-content">
            <p>あおい</p>
            <span class="choice">Hiragana Vokabeln</span>
          </a>
          <a routerLink="/word-quiz/katakana" class="grid-content">
            <p>アジア</p>
            <span class="choice">Katakana Vokabeln</span>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <a routerLink="/word-grid/hiragana" class="grid-content">
            <p>✎</p>
            <span class="choice">Buchstabieren</span>
          </a>
          <a routerLink="/word-list" class="grid-content">
            <p>☕︎</p>
            <span class="choice">Wörterbuch</span>
          </a>
        </div>
        <div class="col">
          <a routerLink="/about" class="grid-content" disabled>
            <p>✪</p>
            <span class="choice">Statistik</span>
          </a>
          <a routerLink="/about" class="grid-content">
            <p>※</p>
            <span class="choice">Handbuch</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>