<button class="submenu no-print" [class.open]="showSubmenu" [class.closed-menu]="!showSubmenu" (click)="showSubmenu ? showSubmenu = false : showSubmenu = true" title="Einstellungen Vokabelliste">✍︎</button>
<div class="menu" *ngIf="showSubmenu">
  <span class="label">Modus</span>
  <a [class.active]="mode == 'all'" (click)="setMode('all')">
    Alle
  </a>
  <a
  [class.active]="mode == 'hiragana'"
  (click)="setMode('hiragana')"
  >Hiragana</a>
  <a
  [class.active]="mode == 'katakana'"
  (click)="setMode('katakana')"
  >Katakana</a>
  <span class="label">Anzeige</span>
  <a
    [class.active]="leftSide == 'german' && rightSide == mode"
    (click)="leftSide = 'german'; rightSide = mode"
  >a/あ</a>
  <a
    [class.active]="leftSide == mode && rightSide == 'german'"
    (click)="leftSide = mode; rightSide = 'german'"
  >あ/a</a>
  <ng-container *ngIf="mode != 'all'">

  <span class="label">Silbenreihen</span>
  <form [formGroup]="hiraganaFilterForm" *ngIf="mode == 'hiragana'">
    <label class="container">あ|ア
      <input type="checkbox" formControlName="row_a">
      <span class="checkmark">
        <span class="checkmark_inner"></span>
      </span>
    </label>
    <label class="container">か|カ
      <input type="checkbox" formControlName="row_k">
      <span class="checkmark">
        <span class="checkmark_inner"></span>
      </span>
    </label>
    <label class="container">さ|サ
      <input type="checkbox" formControlName="row_s">
      <span class="checkmark">
        <span class="checkmark_inner"></span>
      </span>
    </label>
    <label class="container">た|タ
      <input type="checkbox" formControlName="row_t">
      <span class="checkmark">
        <span class="checkmark_inner"></span>
      </span>
    </label>
    <label class="container">な|ナ
      <input type="checkbox" formControlName="row_na">
      <span class="checkmark">
        <span class="checkmark_inner"></span>
      </span>
    </label>
    <label class="container">は|ハ
      <input type="checkbox" formControlName="row_h">
      <span class="checkmark">
        <span class="checkmark_inner"></span>
      </span>
    </label>
    <label class="container">ま|マ
      <input type="checkbox" formControlName="row_m">
      <span class="checkmark">
        <span class="checkmark_inner"></span>
      </span>
    </label>
    <label class="container">や|ヤ
      <input type="checkbox" formControlName="row_y">
      <span class="checkmark">
        <span class="checkmark_inner"></span>
      </span>
    </label>
    <label class="container">ら|ラ
      <input type="checkbox" formControlName="row_r">
      <span class="checkmark">
        <span class="checkmark_inner"></span>
      </span>
    </label>
    <label class="container">わ|ワ
      <input type="checkbox" formControlName="row_w">
      <span class="checkmark">
        <span class="checkmark_inner"></span>
      </span>
    </label>
    <label class="container">ん|ン
      <input type="checkbox" formControlName="row_n">
      <span class="checkmark">
        <span class="checkmark_inner"></span>
      </span>
    </label>
    <label class="container">Kombinationen
      <input type="checkbox" formControlName="row_combinations">
      <span class="checkmark">
        <span class="checkmark_inner"></span>
      </span>
    </label>
    <label class="container">つ
      <input type="checkbox" formControlName="row_tsu">
      <span class="checkmark">
        <span class="checkmark_inner"></span>
      </span>
    </label>
  </form>
  <form [formGroup]="katakanaFilterForm" *ngIf="mode == 'katakana'">
      <label class="container">ア
        <input type="checkbox" formControlName="row_a">
        <span class="checkmark">
          <span class="checkmark_inner"></span>
        </span>
      </label>
      <label class="container">タ
        <input type="checkbox" formControlName="row_t">
        <span class="checkmark">
          <span class="checkmark_inner"></span>
        </span>
      </label>
      <label class="container">ナ
        <input type="checkbox" formControlName="row_na">
        <span class="checkmark">
          <span class="checkmark_inner"></span>
        </span>
      </label>
      <label class="container">マ
        <input type="checkbox" formControlName="row_m">
        <span class="checkmark">
          <span class="checkmark_inner"></span>
        </span>
      </label>
      <label class="container">ヤ
        <input type="checkbox" formControlName="row_y">
        <span class="checkmark">
          <span class="checkmark_inner"></span>
        </span>
      </label>
      <label class="container">アイエオ
        <input type="checkbox" formControlName="row_aieo">
        <span class="checkmark">
          <span class="checkmark_inner"></span>
        </span>
      </label>
  </form>
</ng-container>
</div>
<div class="content">
  <div class="word-list">
    <label>
      <input type="search" [formControl]="searchForm" placeholder="Suche">
    </label>
    <table>
      <tr *ngFor="let word of words">
        <ng-container *ngIf="leftSide == 'german' && rightSide == 'all'">
          <td>{{ word['german'] }}</td>
          <td>{{ word['hiragana'] ? word['hiragana'] : word['katakana'] }}</td>
        </ng-container>
        <ng-container *ngIf="leftSide == 'all' && rightSide == 'german'">
          <td>{{ word['hiragana'] ? word['hiragana'] : word['katakana'] }}</td>
            <td>{{ word['german'] }}</td>
        </ng-container>
        <ng-container *ngIf="leftSide != 'all' && rightSide != 'all'">
          <td>{{ word[leftSide] }}</td>
          <td>{{ word[rightSide] }}</td>
        </ng-container>
      </tr>
    </table>
  </div>
</div>