@import "_variables";

:host {
  display: block;
  overflow: hidden;
  padding: 3px; // for the shadow
  margin: -3px; // to "get back" to the original size
}

.word-list {
  padding-top: 10px;
  padding-bottom: 20px;
}

.word-list input {
  padding: 6px;
  width: 100%;
  margin: 8px 0;
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid gray;
  -webkit-appearance: none;
}

tr {
  min-height: 25px;
}

td {
  padding: 5px;
}

li {
  text-align: center;
}

tr:nth-child(odd) {
  background-color: rgba(100, 100, 100, 0.1);
}

tr:hover {
  @media(hover: hover) {
    background-color: rgba(100, 100, 100, 0.3);
  }
}

.card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: relative;
  background-color: $lightBackground;
  border-radius: 5px;
  min-height: 50px;
  padding: 5px;
  margin-bottom: 5px;

  .japanese {
    display: block;
    font-size: 20px;
  }

  .translation {
    display: block;
  }

  .type {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    font-size: 14px;
  }
}