<button class="submenu2 no-print" [class.open]="showSubmenu" [class.closed-menu]="!showSubmenu"
  (click)="showSubmenu ? showSubmenu = false : showSubmenu = true" title="Einstellungen Vokabelliste">⋮</button>
<div class="menu" *ngIf="showSubmenu">
  <form [formGroup]="modeForm">
    <span class="label">Anzeige</span>
    <label class="container serif">Serif
      <input type="radio" formControlName="fontMode" value="serif" name="fontMode">
      <span class="checkmark">
        <span class="checkmark_inner"></span>
      </span>
    </label>
    <label class="container sans-serif">Sans-Serif
      <input type="radio" formControlName="fontMode" value="sans-serif" name="fontMode">
      <span class="checkmark">
        <span class="checkmark_inner"></span>
      </span>
    </label>
    <span class="label">Links</span>
    <label class=" container" (click)="modeForm.get('right').setValue('japanese')">Deutsch
      <input type="radio" formControlName="left" value="german" name="left">
      <span class="checkmark">
        <span class="checkmark_inner"></span>
      </span>
    </label>
    <label class=" container" (click)="modeForm.get('right').setValue('german')">Japanisch
      <input type="radio" formControlName="left" value="japanese" name="left">
      <span class="checkmark">
        <span class="checkmark_inner"></span>
      </span>
    </label>
  </form>
  <span class="label">Rechts</span>
  <form [formGroup]="modeForm">
    <label class=" container" (click)="modeForm.get('left').setValue('japanese')">Deutsch
      <input type="radio" formControlName="right" value="german" name="right">
      <span class="checkmark">
        <span class="checkmark_inner"></span>
      </span>
    </label>
    <label class=" container" (click)="modeForm.get('left').setValue('german')">Japanisch
      <input type="radio" formControlName="right" value="japanese" name="right">
      <span class="checkmark">
        <span class="checkmark_inner"></span>
      </span>
    </label>

  </form>
</div>
<div class="word-list" [class.serif]="fontMode === 'serif'" [class.sans-serif]="fontMode === 'sans-serif'">
  <label class="no-print">
    <input type="search" [formControl]="searchForm" placeholder="Suche">
  </label>
  <table>
    <tr *ngFor="let word of words" (click)="show(word)">
      <td>{{ readingWithPreference(leftSide, word) }}</td>
      <td>
        <ul>
          <li *ngFor="let reading of word.japanese_readings">{{ reading }}</li>
          <hr *ngIf="word.japanese_readings.length && word.chinese_readings.length">
          <li *ngFor="let reading of word.chinese_readings">{{ reading }}</li>
        </ul>
      </td>
      <td>{{ readingWithPreference(rightSide, word) }}</td>
      <td>
        <ul style="padding-left: 10px">
          <li *ngFor="let example of word.examples" style="text-align: left">
            <ruby>
              {{ example.japanese }}
              <rt>{{ example.reading }}</rt>
            </ruby>
            - {{ example.german}}
          </li>
        </ul>
      </td>
    </tr>
  </table>
</div>