<div class="content" (click)="showNext()">
  <div class="learn">
    <div class="card">{{ hiragana[show][displayLeft]}}</div>
    <hr class="line">
    <div class="card" *ngIf="displayMode == 'always' || (displayMode == 'click' && clicked)">
      {{ hiragana[show][displayRight] }}
    </div>
  </div>
</div>

<button class="submenu no-print" [class.open]="showSubmenu" [class.closed-menu]="!showSubmenu"
  (click)="showSubmenu ? showSubmenu = false : showSubmenu = true" title="Einstellungen Lernmodus">✍︎</button>
<div class="menu" *ngIf="showSubmenu">
  <span class="label">Anzeige</span>
  <a [class.active]="displayMode=='always'" (click)="setMode('always'); showSubmenu = false">Immer zeigen</a>
  <a [class.active]="displayMode=='click'" (click)="setMode('click'); clicked = false; showSubmenu = false">Beim
    Klick</a>
  <a disabled [class.active]="displayMode=='automatic'" (click)="setMode('automatic')">Automatisch</a>
  <span class="label">Modus</span>
  <a [class.active]="displayLeft == 'german' && displayRight == 'hiragana'"
    (click)="displayLeft = 'german'; displayRight = 'hiragana'">a/あ</a>
  <a [class.active]="displayLeft == 'hiragana' && displayRight == 'german'"
    (click)="displayLeft = 'hiragana'; displayRight = 'german'">あ/a</a>
  <a [class.active]="displayLeft == 'german' && displayRight == 'katakana'"
    (click)="displayLeft = 'german'; displayRight = 'katakana'">a/ア</a>
  <a [class.active]="displayLeft == 'katakana' && displayRight == 'german'"
    (click)="displayLeft = 'katakana'; displayRight = 'german'">ア/a</a>
  <a [class.active]="displayLeft == 'hiragana' && displayRight == 'katakana'"
    (click)="displayLeft = 'hiragana'; displayRight = 'katakana'">あ/ア</a>
  <a [class.active]="displayLeft == 'katakana' && displayRight == 'hiragana'"
    (click)="displayLeft = 'katakana'; displayRight = 'hiragana'">ア/あ</a>
  <span class="label">Silbenreihen</span>
  <form [formGroup]="filterForm">
    <label class="container">あ|ア
      <input type="checkbox" formControlName="row_a">
      <span class="checkmark">
        <span class="checkmark_inner"></span>
      </span>
    </label>
    <label class="container">か|カ
      <input type="checkbox" formControlName="row_k">
      <span class="checkmark">
        <span class="checkmark_inner"></span>
      </span>
    </label>
    <label class="container">さ|サ
      <input type="checkbox" formControlName="row_s">
      <span class="checkmark">
        <span class="checkmark_inner"></span>
      </span>
    </label>
    <label class="container">た|タ
      <input type="checkbox" formControlName="row_t">
      <span class="checkmark">
        <span class="checkmark_inner"></span>
      </span>
    </label>
    <label class="container">な|ナ
      <input type="checkbox" formControlName="row_na">
      <span class="checkmark">
        <span class="checkmark_inner"></span>
      </span>
    </label>
    <label class="container">は|ハ
      <input type="checkbox" formControlName="row_h">
      <span class="checkmark">
        <span class="checkmark_inner"></span>
      </span>
    </label>
    <label class="container">ま|マ
      <input type="checkbox" formControlName="row_m">
      <span class="checkmark">
        <span class="checkmark_inner"></span>
      </span>
    </label>
    <label class="container">や|ヤ
      <input type="checkbox" formControlName="row_y">
      <span class="checkmark">
        <span class="checkmark_inner"></span>
      </span>
    </label>
    <label class="container">ら|ラ
      <input type="checkbox" formControlName="row_r">
      <span class="checkmark">
        <span class="checkmark_inner"></span>
      </span>
    </label>
    <label class="container">わ|ワ
      <input type="checkbox" formControlName="row_w">
      <span class="checkmark">
        <span class="checkmark_inner"></span>
      </span>
    </label>
    <label class="container">ん|ン
      <input type="checkbox" formControlName="row_n">
      <span class="checkmark">
        <span class="checkmark_inner"></span>
      </span>
    </label>
  </form>
</div>