@import "_variables";
@import "_forms";

$contentInset: 40px;

:root {
  color-scheme: light dark;
  --menu-backg: #002828;
  --menu-hover: #003737;
  --menu-active: #001e1e;
  --menu-label-font-c: #008c8c;
  --forms-highlight: #003c3c;
  --light-background: #ffffff;
  --show-modal-backg: #ffffff;

  --kanji-stroke-color: #000;
  --kanji-background-color: #fff;
  --kanji-grid-color: #d3d3d3;

  --wordtype-verb: #ff595e;
  --wordtype-adverb: #ff924c;
  --wordtype-pronoun: #ffca3a;
  --wordtype-preposition: #c5ca30;
  --wordtype-adjective: #8ac926;
  --wordtype-conjunction: #52a675;
  --wordtype-noun: #1982c4;
  --wordtype-numeral: #4267ac;
  --wordtype-interjection: #6a4c93;
  --wordtype-kanji: #b5a6c9;
  --wordtype-background: #f7f7f7;

  --grammar-dashed-border: #000;
  --grammar-dashed-border-rule: #fff;
  --grammar-button-color: #006464;
}

@media (prefers-color-scheme: dark) {
  :root {
    // --menu-backg: #d60000;
    --menu-active: #001e1e;
    --menu-label-font-c: #008c8c;
    --forms-highlight: #003c3c;
    --light-background: #002828;
    --show-modal-backg: #001e1e;
    --kanji-stroke-color: #f5f5f5;
    --kanji-background-color: #000;
    --kanji-grid-color: #323232;
    --wordtype-background: #002828;

    --grammar-dashed-border: #fff;
  }
}

// all things are border-box (thank god), are sans-serif by default
* {
  box-sizing: border-box;
  font-family: Avenir, Helvetica, sans-serif;

  &.serif {

    // all things "under" serif should inherit this font
    * {
      font-family: Baskerville, "Times New Roman", Times, serif;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  word-break: break-word;
}

a {
  color: #006464;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

/* Deck listings */
a.deck-list-item {
  cursor: pointer;
  width: 170px;
  height: 100px;
  background-color: rgb(0, 40, 40);
  border-radius: 4px;
  margin: 5px;
  position: relative;
  display: block;
  transition: 0.3s;
  padding: 10px;
  color: white;
  text-decoration: none;
  overflow: hidden;
  scroll-snap-align: center;

  &:hover {
    @media(hover: hover) {
      background-color: #003737;

      @media (prefers-color-scheme: light) {
        box-shadow: inset 0 0 10px #000000;
      }
    }
  }

  .banner {
    position: absolute;
    top: 6px;
    right: -20px;
    transform: rotate(45deg);
    width: 75px;
    text-align: center;
    background-color: #004343;
  }

  .deck_name {
    text-align: left;
    font-family: sans-serif;
  }

  .deck_description {
    font-size: 12px;
    margin-top: 5px;
  }

  .deck_created {
    i-feather {
      vertical-align: middle;
      height: 16px;
      width: 16px;
    }

    position: absolute;
    font-size: 10px;
    bottom: 5px;
    right: 5px;
    text-align: right;
  }
}

/* Deck listings end */


/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 3px;
  // background: white; only for html, not on page scrollers
}


/* Track */
::-webkit-scrollbar-track {
  background: $fourthBackgroundColor;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: $secondaryBackgroundColor;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $secondaryBackgroundColor;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

/* scrollbar end */

.p-2 {
  padding: 2px
}

.p-5 {
  padding: 5px
}

.m-0 {
  margin: 0;
}

.h-100 {
  height: 100%;
}

.o-auto {
  overflow: auto;
}

.o-hidden {
  overflow: hidden;
}

.p-relative {
  position: relative;
}

.p-sticky {
  position: sticky;
}

/* css flex */
.d-flex {
  display: flex;
}

.f-wrap {
  flex-wrap: wrap;
}

.f-nowrap {
  flex-wrap: nowrap;
}

.f-gap-10 {
  gap: 10px
}

.f-gap-1 {
  gap: 1em;
}

.a-items-start {
  align-items: flex-start;
}

.a-items-center {
  align-items: center;
}

.a-items-end {
  align-items: flex-end;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.flex-grow-1 {
  flex-grow: 1;
}

.f-flow-col {
  flex-flow: column;
}

.j-content-space-evenly {
  justify-content: space-evenly;
}

.j-content-space-between {
  justify-content: space-between;
}

.j-content-center {
  justify-content: center;
}

.j-content-end {
  justify-content: flex-end;
}

/* css flex end */

/* overflow */
.ox-auto {
  overflow-x: auto;
  overflow-y: hidden;
}

.ox-scroll {
  overflow-x: scroll;
}

.oy-scroll {
  overflow-y: scroll;
}

/* overflow end */

/* for the container */
.s-snap-type-xm {
  scroll-snap-type: x mandatory;
}

/* for the snapping element */
.s-snap-align-c {
  scroll-snap-align: center;
}

i-feather {
  vertical-align: middle;
  height: 16px !important;
  width: 16px !important;
}

.icon-medium {
  vertical-align: middle;
  height: 24px;
  width: 24px;
}

.v-align-middle {
  vertical-align: middle;
}

.italic {
  font-style: italic;
}

.c-pointer {
  cursor: pointer;
}

/* Add this class to things you do not want to print!*/
@media print {

  .no-print,
  .no-print * {
    display: none !important;
  }
}

/* Add this class to things you do not want to print!*/
.print,
.print * {
  @media not print {
    display: none !important;
  }
}

.page-break-after {
  page-break-after: always;
}

.page-break-not-inside {
  break-inside: avoid;
}

/* Add application styles & imports to this file! */
html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  overscroll-behavior: contain;

  // prevents bright flash on dark mode screens (pwa bootup, browser scroll pull)
  @media (prefers-color-scheme: dark) {
    background-color: black;
  }
}

/* the App background */
body {
  margin: 0;
  padding: 0;

  /* safe area support for iPhones */
  @supports (padding: max(0px)) {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
  }

  /* It targets only the app used with a system icon in standalone mode */
  @media (display-mode: standalone) {
    height: 100vh;
  }

  width: 100%;
  overflow: auto;
  overflow-x: hidden;

}

/* mobile rubberband save scroll overflow background behind "everything" */
.background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  @media not print {
    background-image: url(assets/background.png);
    box-shadow: 0 55px 50px -15px rgba(175, 175, 175, 0.1) inset;

    @media (prefers-color-scheme: dark) {
      box-shadow: none;
      background-image: url(assets/background_dark.png);
    }
  }

}

ul {
  list-style: none;
  padding: 0;
}

// font type switcher
.serif {
  font-family: "Times New Roman", Times, serif !important;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  height: 100%;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.col {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;

  @media screen and (min-width: 500px) {
    width: 70%;
  }
}

/* the router component content*/
.content {
  position: relative;
  height: calc(100vh - 40px);
  padding-top: 40px;
  padding-left: $contentInset;
  padding-right: 15px; // $contentInset;
  max-width: $contentMaxWidth;
  margin-left: auto;
  margin-right: auto;

  .backlink {
    text-decoration: none;
    position: absolute;
    display: block;
    top: 0;
    left: 30px;
    padding: 8px;
  }
}

.modes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.mode {
  text-align: center;
  color: white;
  background-color: teal;
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  padding: 10px;
  transition: background-color 0.5s ease;
  flex-grow: 1;
}

.mode:hover {
  @media(hover: hover) {
    background-color: rgb(0, 90, 90);
  }
}

.selected {
  background-color: rgb(0, 100, 100);
}


.active {
  background-color: $activeColor;
}


a[disabled] {
  cursor: not-allowed;
  pointer-events: none;
  text-decoration-line: line-through;
  -webkit-text-decoration-line: line-through;
}

.disabled {
  cursor: not-allowed;
  color: $mutedColor !important;
  pointer-events: none;
  text-decoration-line: line-through;
  -webkit-text-decoration-line: line-through;
}

button {
  cursor: pointer;
}

button.submenu {
  top: 60px;
  margin: 0px;
  margin-top: 10px;
  position: fixed;
  background-color: $backgroundColor;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: none;
  color: white;
  padding: 6px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  min-width: 32px;
  min-height: 54px;
}

button.submenu2 {
  top: 120px;
  left: 0px;
  margin: 0px;
  margin-top: 10px;
  position: fixed;
  background-color: $backgroundColor;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: none;
  color: white;
  padding: 6px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  min-width: 32px;
  min-height: 54px;
}

.closed-menu:hover {
  @media(hover: hover) {
    padding: 6px 11px;
  }
}

button.open {
  padding: 6px 7px;
  left: 30%;

  @media screen and (max-width: 799px) {
    left: 35%;
  }

  @media screen and (max-width: 438px) {
    left: 50%;
  }

  @media screen and (min-width: 800px) {
    left: 280px;
  }
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

label.container {
  cursor: pointer;
  padding: 8px;
  display: block;
  position: relative;

  @media screen and (max-width: 438px) {
    font-size: 14px;
  }

  @media screen and (max-width: 799px) {
    padding-left: 12px;
    text-align: left;
  }
}

label.container:hover {
  @media(hover: hover) {
    background-color: $highlightColor;
  }
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  right: 25px;
  bottom: calc(50% - 10px);
  width: 20px;
  height: 20px;

  @media screen and (max-width: 438px) {
    right: 15px;
    width: 16px;
    height: 16px;
    bottom: calc(50% - 8px);
  }

  background: #ddd;
  border-radius: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.checkmark_inner {
  position: absolute;
  left: 3px;
  top: 3px;
  width: 14px;
  height: 14px;

  @media screen and (max-width: 438px) {
    // left: 3px;
    // top: 3px;
    width: 10px;
    height: 10px;
  }

  border-radius: 100%;
  background: #333;
  box-shadow:inset 0px 1px 3px rgba(0, 0, 0, 0.5);
  transition: background-color .5s ease;
}

.disabled .checkmark_inner {
  background: #666;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark .checkmark_inner {
  background-color: $checkmark_checked;
}

/* MENU END*/

/* TABLES */
table {
  box-sizing: border-box;
  page-break-inside: auto;
  border-collapse: collapse;
  width: 100%;
  height: 80%;
  /* border: 1px solid; */
  /* background-color: rgb(200,250,250); */
  text-align: center;
  border: none;
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
}

tr {
  box-sizing: border-box;
  page-break-inside: avoid;
  page-break-after: auto;
}

.blank {
  /* background-color: azure; */
  border-style: none;
  /* border: 1px solid; */
  width: 50;
}

th {
  // background-color: teal;
  box-sizing: border-box;
  border-style: none;
  border: 1px solid;
  // height: 45px;
}

td {
  box-sizing: border-box;
  padding: 0;
  border: 1px solid;
  // height: 45px;
}

table .label {
  background-color: teal;
  font-weight: bold;
  width: 50px;
}

/* TABLES END */

/* quiz */
.answer {
  cursor: pointer;
}

/* Text Colors and other Stuff */
.hits {
  color: rgb(0, 200, 100);
}

.misses {
  color: rgb(200, 100, 100);
}

img {
  transition: all 0.2s;
}

.muted {
  color: gray;

  .button {
    background-color: $mutedColor;
    cursor: not-allowed;

    &:hover {
      background-color: $mutedColor;
    }
  }

  img {
    filter: grayscale(1) opacity(0.4);
  }
}

.align-c {
  text-align: center;
}

.align-l {
  text-align: left;
}

.align-r {
  text-align: right;
}

/* Text Colors and other Stuff END */

.button {
  margin: 0px;
  margin-top: 10px;
  margin-right: 10px;
  background-color: $backgroundColor;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 6px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  min-width: 25px;
  transition: all 0.2s;
  font-family: arial;

  i-feather {
    width: 16px;
    height: 16px;
    vertical-align: middle;
  }

  &.border {
    border: 1px solid $secondaryTextColor;
  }

  &:hover {
    background-color: $highlightColor;
  }
}

.menu .button {
  margin-right: 0px;
  border: solid;
  border-width: 1px;
  border-color: white;
}