/* Add application styles & imports to this file! */
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* the router component content*/
.content {
  height: 100%;
  background-color: azure;
}

.modes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.mode {
  text-align: center;
  color: white;
  background-color: teal;
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  padding: 10px;
  transition: background-color 0.5s ease;
  flex-grow: 1;
}

.mode:hover {
  background-color: rgb(0,90,90);
}

.selected {
  background-color: rgb(0, 100, 100);
}

/* Style The Dropdown Button */
.dropbtn {
  color: white;
  padding: 6px;
  font-size: 12px;
  border: none;
  cursor: pointer;
  margin: 0;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  font-family: arial;
  font-size: 12px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 90px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
  text-align: center;
  color: white;
  background-color: rgb(0,50, 50);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgb(0,60,60);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  background-color:rgb(0, 60, 60);
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color:rgb(0, 60, 60);
}

.dropdown .selected {
  background-color: rgb(0,40,40);
}

.context-menu {
  right: 6px;
  position: fixed;
}
.context-menu button{
  z-index: 1;
  background-color: rgb(0,40,40);
}