/* Forms */
$lightInputBackground: #f2f2f2;

form {
  label {
    font-size: 0.875rem;
  }

  input {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    appearance: none;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 1rem;

    .light & {
      background-color: $lightInputBackground;
    }
  }

  button {
    margin: 0px;
    margin-top: 10px;
    margin-right: 10px;
    background-color: $backgroundColor;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 6px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;

    &:hover {
      background-color: $highlightColor;
    }
  }
}

.formgroup>textarea {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.form_array {
  margin-bottom: 10px;
  width: 100%;
}

.input_group {
  overflow: hidden;
  display: flex;
  gap: 1rem;
  padding: 0.5rem 0;
  align-items: center;

  button {
    margin: 0;
    width: 1.5rem;
    display: inline-block;
    height: 2rem;

    &.top {
      align-self: flex-start;
    }
  }
}


.form_array .button {
  border: solid;
  border-width: 1px;
  border-color: white;
}