/* Forms */
$lightInputBackground: #f2f2f2;

form {
  label {
    font-size: 0.875rem;
  }

  input {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    appearance: none;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 1rem;
    background-color: canvas;

    .light & {
      background-color: $lightInputBackground;
    }
  }

  textarea {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    appearance: none;
    border: none;
    border-radius: 3px;
    font-size: 1rem;

    .light & {
      background-color: $lightInputBackground;
    }
  }

  button {
    margin: 0px;
    margin-top: 10px;
    margin-right: 10px;
    background-color: $backgroundColor;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 6px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;

    &:hover {
      background-color: $highlightColor;
    }
  }
}

.formgroup {
  flex-grow: 1;
  margin-bottom: 1rem;

  >textarea {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    display: block;
    resize: vertical;
  }

  &.collapsible {
    .formgroup-header {
      display: inline-block; // make me inline-flex when adding a chevron icon
      width: 100%;
      padding: 0.5rem;
    }

    margin-bottom: 15px;
    // padding: 5px;
    transition: all 0.2s;
    border-radius: 5px;
    background: $thirdBackgroundColor;
    box-shadow: 7px 7px 10px #001010,
    -7px -7px 10px #003030;
  }
}

.form_array {
  margin-bottom: 10px;
  width: 100%;
}

.input_group {
  overflow: hidden;
  display: flex;
  gap: 1rem;
  padding: 0.5rem 0;
  align-items: center;

  .add-remove-button {
    margin: 0;
    width: 1.5rem;
    display: inline-block;
    height: 2rem;

    &.top {
      align-self: flex-start;
    }
  }
}

.form_array .button {
  border: solid;
  border-width: 1px;
  border-color: white;
}

.collapsible {
  overflow: hidden;

  &.closed:hover {
    @media(hover: hover) {
      background-color: $hoverColor;
      cursor: pointer;
    }
  }
}