/* MENU */
// Menu and Button Background
$backgroundColor: var(--menu-backg);
// Active (selected) Links
$activeColor: var(--menu-active);
// hover color on links
$highlightColor: var(--forms-highlight);
// color of menu group labels
$labelColor: var(--menu-label-font-c);

$mutedColor: #c8c8c84d;

// general
$contentMaxWidth: 1000px; // sets the maximum content witdh of the router outlet. margin left-right is auto

// forms
$errorColor: #961414;

$oddTableColor: #6464641a;
$lighterTextColor: #646464;
$mainColor: #002828;
$checkmark_checked: #26ca28;
$card_selected: rgb(123, 123, 194);
$hoverColor: #003c3c;

// wordTypes
$nounColor: var(--wordtype-noun);
$verbColor: var(--wordtype-verb);
$adjectiveColor: var(--wordtype-adjective);
$adverbColor: var(--wordtype-adverb);
$pronounColor: var(--wordtype-pronoun);
$prepositionColor: var(--wordtype-preposition);
$conjunctionColor: var(--wordtype-conjunction);
$numeralColor: var(--wordtype-numeral);
$interjectionColor: var(--wordtype-interjection);
$kanjiColor: var(--wordtype-kanji);
$wordTypeBackgroundColor: var(--wordtype-background);
// wordTypes end

$primaryTextColor: black;
$secondaryTextColor: white;

$primaryBackgroundColor: #002828;
$secondaryBackgroundColor: #003333;
$thirdBackgroundColor: #003030;
$fourthBackgroundColor: white;

$lightBackground: var(--light-background);
$darkBackground: $mainColor;
$showModalBackground: var(--show-modal-backg);
$editModalBackground: var(--edit-modal-backg);
$darkHoverBackground: var(--menu-hover);

//kanji svg colors
$kanjiBackground: var(--kanji-grid-color); // color of the grid
$kanjiBlockBackground: var(--kanji-background-color); //color of the nine boxes
$kanjiStrokeColor: var(--kanji-stroke-color);
//kanji svg colors end


// mixins and scss function stuff
$breakpoints: (
  xxs: 320px,
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px
);

@mixin bigger-than($breakpoint) {

  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {

    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    // Write the media query.
    @media (min-width: $breakpoint-value) {
      @content;
    }

    // If the breakpoint doesn't exist in the map.
  }

  @else {

    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

@mixin smaller-than($breakpoint) {

  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {

    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    // Write the media query.
    @media (max-width: ($breakpoint-value + 1)) {
      @content;
    }

    // If the breakpoint doesn't exist in the map.
  }

  @else {

    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}