$oddTableColor: rgba(100, 100, 100, 0.1);
$lighterTextColor: rgb(100, 100, 100);
$mainColor: rgb(0, 40, 40);
$checkmark_checked: #26ca28;
$hoverColor: #003c3c;

// wordTypes
$nounColor: rgb(0, 87, 87);
$verbColor: rgb(74, 87, 0);
$adjectiveColor: rgb(87, 0, 0);
$adverbColor: rgb(0, 87, 87);
$pronounColor: rgb(0, 87, 87);
$prepositionColor: rgb(0, 87, 87);
$conjunctionColor: rgb(0, 87, 87);
$numeralColor: rgb(0, 87, 87);
$interjectionColor: rgb(0, 87, 87);


// wordTypes end