.learn {
  height: 100%;
}
.line {
  // width: 80%;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.card {
  height: 49%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 438px) {
    font-size: 12vw;
  }
  @media screen and (min-width: 439px) {
    font-size: 8vw;
  }
  text-align: center;
  vertical-align: middle;
  user-select: none;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.readings {
  margin-left: 10px;
}

.readings hr {
  margin-top: 3px;
  margin-bottom: 3px;
}

li {
  font-size: 3vw;
}

ul {
  list-style-type: circle;
  list-style-position: inside;
  margin: 0;
  margin-left: 0;
  padding: 0;
  text-align: left;
}

.modes {
  width: 100%;
  display: flex;
  font-family: arial;
}

.cardbox {
  font-size: 150px;
  width: 100%;
  bottom: 0px;
  margin: 0;
  display: flex;
}

.cardbox > .left {
  width: 50%;
  height: 250px;
  text-align: center;
}

.cardbox > .right {
  width: 50%;
  height: 250px;
  text-align: center;
}

.detail-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.detail-content .kanji {
  font-size: 7vw;
}

.detail {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail-content .line {
  min-width: 100px;
  @media screen and (min-width: 439px) {
    min-width: 235px;
  }
  @media screen and (min-width: 600px) {
    min-width: 280px;
  }
  @media screen and (min-width: 767px) {
    min-width: 500px;
  }
  @media screen and (min-width: 767px) {
    min-width: 500px;
  }
  @media screen and (min-width: 1000px) {
    min-width: 750px;
  }
  @media screen and (min-width: 1300px) {
    min-width: 1000px;
  }
  @media screen and (min-width: 1700px) {
    min-width: 1250px;
  }
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.detail-content .full-example {
  width: 100%;
  font-size: 6vw;
  text-align: center;
}

.detail-content .example {
  width: 50%;
  font-size: 6vw;
  text-align: center;
}


.info {
  font-style: italic;
  font-size: 2vw;
  font-family: serif;
}