.learn {
  height: 100%;
}
.line {
  // width: 80%;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.serif {
  font-family: serif;
}
.sans-serif {
  font-family: sans-serif;
}

.card {
  height: 49%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 438px) {
    font-size: 12vw;
  }
  @media screen and (min-width: 439px) {
    font-size: 8vw;
  }
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.readings {
  margin-left: 10px;
}

.readings hr {
  margin-top: 3px;
  margin-bottom: 3px;
}

li {
  font-size: 3vw;

}

ul {
  list-style-type: circle;
  list-style-position: inside;
  margin: 0;
  margin-left: 0;
  padding: 0;
  text-align: left;
}

.modes {
  width: 100%;
  display: flex;
  font-family: arial;
}

.cardbox {
  font-size: 150px;
  width: 100%;
  bottom: 0px;
  margin: 0;
  display: flex;
}

.cardbox > .left {
  width: 50%;
  height: 250px;
  text-align: center;
}

.cardbox > .right {
  width: 50%;
  height: 250px;
  text-align: center;
}

.modal-teaser {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  background-color: rgba(0, 40, 40, 0.97);
  color: white;
  display: inline-flex;
  position: absolute;
  padding: 4px;
  text-align: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  top:0;
  right: 40px;
  // transition: all .3s ease;
  // box-shadow: 4px 4px 16px 0px rgba(0,0,0,0.2);
}

.detail-content {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.chevron {
  // width: 5%;
  padding: 20px;
}
.detail-content .kanji {
  // min-width: 50%;
  font-size: 7vw;
}

.detail {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail-content .line {
  min-width: 238px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}
.detail-content .example {
  width: 100%;
  font-size: 6vw;
  text-align: center;
}