<div class="content">
  <div class="loading" @fadeInOutTrigger *ngIf="loadingCards">
    <div class="loader muted">
      <i-feather name="loader"></i-feather> Lade Auswahl…
    </div>
  </div>
  <div style="height: 100%" *ngIf="!loadingCards && cards.length" @fadeInOutTrigger>
    <app-word-quiz [cards]="cards" *ngIf="mode === 'quiz'"></app-word-quiz>
    <app-word-grid [deck]="cards" *ngIf="mode === 'grid'"></app-word-grid>
    <app-word-learn [_cards]="cards" *ngIf="mode === 'learn'"></app-word-learn>
  </div>
  <ng-template #noCards>
    <div class="loading" *ngIf="!loadingCards && !cards.length" @fadeInOutTrigger>
      Du musst zuerst Lernkarten auswählen um mit ihnen Lernmodi starten zu können.
    </div>
  </ng-template>
</div>
<app-menu></app-menu>