<div class="content">
  <a routerLink="" class="backlink muted">
    <i-feather name="chevron-left"></i-feather>Home
  </a>
  <div class="user">
    <div *ngIf="auth.user | async; then authenticated else guest">
      <!-- template will replace this div -->
    </div>


    <!-- User NOT logged in -->
    <ng-template #guest>
      <h3>Loginbereich</h3>
      <p>Mit einem Konto kannst du eigene Lernkarten und Decks anlegen. Dazu wird deine E-Mail Adresse und (je nach
        Anbieter) dein Anzeigename in der Datenbank
        von
        Vokabeldojo gespeichert. Login via oAuth (Google, Apple und Co.) erfolgt zwischen dir und dem Provider,
        Passwörter oä werden in
        diesem
        Fall nicht in Vokabeldojo gespeichert. Du kannst bei Sign in with Apple auch eine automatisch anonymisierte
        relay E-Mail einrichten. In dem Fall bist du immer auf der sicheren Seite. <a
          href="https://support.apple.com/de-at/HT210425" target="_blank">Mehr zu "E-Mail-Adresse verbergen mit Apple
          Sign In"</a></p>
      <p>Du besitzt keinen Social Media Account oder möchtest keinen dieser Dienste nutzen? Dann verwende Connect E-Mail
        für einen Passwortlosen Login mit Magic Link.</p>
      <h3>Login/Registrierung</h3>
      <button class="button" (click)="auth.googleLogin()">
        <i-feather name="log-in"></i-feather> Sign in with Google
      </button>
      <button class="button" (click)="auth.appleLogin()">
        <i-feather name="log-in"></i-feather> Sign in with Apple
      </button>
      <button class="button" (click)="promptMagicLink()">
        <i-feather name="mail"></i-feather> Connect Email
      </button>

      <p>Der Social Media Dienst deiner Wahl wird noch nicht unterstützt oder du hast Probleme? <a
          [routerLink]="['/about']" fragment="report-a-bug">Schick mir eine Nachricht!</a></p>
    </ng-template>


    <!-- User logged in -->
    <ng-template #authenticated>
      <div *ngIf="auth.user | async as user">
        <p>Du bist derzeit angemeldet als: {{ user.displayName }}</p>
        <p>Email: {{ user.email }}</p>
        <p>UID: {{ user.uid }}</p>
        <p>Berechtigung: {{ user.role }}</p>
        <div class="d-flex ox-auto">
          <a [routerLink]="['/', 'decks', 'user']" class="deck-list-item flex-shrink-0">
            <div class="deck_name">
              Zu meinen Decks
            </div>
            <div class="deck_created">
              Alle anzeigen <i-feather name="chevron-right"></i-feather>
            </div>

          </a>
          <a [routerLink]="['/', 'cards', 'user']" class="deck-list-item flex-shrink-0">
            <div class="deck_name">
              Zu meinen Karten
            </div>
            <div class="deck_created">
              Alle anzeigen <i-feather name="chevron-right"></i-feather>
            </div>

          </a>
        </div>
        <button class="button" (click)="auth.signOut()">
          <i-feather name="log-out"></i-feather> Abmelden
        </button>
        <hr>
        <p>Wenn du deinen Account und alle Daten dazu löschen möchtest, kannst du das hier tun. Beachte jedoch das ich
          KEINE Daten wiederherstellen kann, sie sind unwiederruflich gelöscht!</p>
        <button class="button" (click)="deleteAccount()">
          <i-feather name="trash" class="misses"></i-feather> Account löschen
        </button>
      </div>
    </ng-template>
  </div>
</div>
<app-menu></app-menu>